// 色票
$primary-100: #DAF9F0;
$primary-200: #B8F3E1;
$primary-300: #95EDD2;
$primary-400: #72E7C4;
$primary-500: #4FE1B5;
$primary-600: #28DAA5;
$primary-700: #1FB588;
$primary-800: #188E6B;
$primary-900: #12674D;

$accent-100: #FFFDFA;
$accent-200: #FEF5E6;
$accent-300: #FDE4BE;
$accent-400: #FCD497;
$accent-500: #FBC36F;
$accent-600: #FAB042;
$accent-700: #F99E16;
$accent-800: #DA8506;
$accent-900: #AE6A05;

$alert-100: #FED2DA;
$alert-200: #FDB9C6;
$alert-300: #FCA1B1;
$alert-400: #FC889D;
$alert-500: #FB6F88;
$alert-600: #FA516F;
$alert-700: #F93357;
$alert-800: #F9163E;
$alert-900: #E9062F;

$grey-100: #FEFEFE;
$grey-200: #F0F0F0;
$grey-300: #D4D4D4;
$grey-400: #B8B8B8;
$grey-500: #808080;
$grey-600: #616161;
$grey-700: #434343;
$grey-800: #242424;
$grey-900: #151515;

$tilte-shadow: 0px 2px 10px rgba(128, 128, 128, 0.70);

// 各字型大小
$font-size-h1: 2.488rem; // 45px
$font-size-h2: 2.074rem; // 37px
$font-size-h3: 1.728rem; // 31px
$font-size-h4: 1.440rem; // 26px
$font-size-h5: 1.2rem; // 22px
$font-size-content: 1rem; // 18px
$font-size-button: 0.833rem; // 15px
$font-size-caption: 0.694rem; // 12px
$font-size-overline: 0.579rem; // 10px

// 行距比例 (font-size * n = line-height)
$line-height-scale-h1: 1.2;
$line-height-scale-h2: 1.23;
$line-height-scale-h3: 1.16;
$line-height-scale-h4: 1.2;
$line-height-scale-h5: 1.2;
$line-height-scale-content: 1.56;
$line-height-scale-button: 1.33;
$line-height-scale-caption: 1.5;
$line-height-scale-overline: 1.4;

// 各字型字距 (letter-spacing)
$letter-spacing-h1: 0.12em;
$letter-spacing-h2: 0.08em;
$letter-spacing-h3: 0.07em;
$letter-spacing-h4: 0.05em;
$letter-spacing-h5: 0.04em;
$letter-spacing-content: 0.03em;
$letter-spacing-button: 0.03em;
$letter-spacing-caption: 0.01em;
$letter-spacing-overline: 0.01em;

// 版面
$nav-height: 8vh;
$section-padding-y: 2vh;
$benner-m-menu-height: 10vh;
$class-benner-m-height: 10vh;
$class-benner-height: 20vh;
$footer-m-height: 30vh;
$footer-height: 10vh;
$container-x: 3vw;

// 圓角 (border-radius)
$normal-bora: .5em;
$oval-bora: 2em;
$cycle-bora: 50%;

// z-index
$nav-bar-z: 10;

// 動畫速度
$trsi: all 0.3s ease-in-out;