@import "./reset.scss";

@import "./variable";
@import "./support";
@import "./buttons";

* {
  box-sizing: border-box;
}

.container-fluid {
  width: 100vw;
  position: relative;
  margin-top: $nav-height;
  margin-bottom: $footer-m-height;
  overflow: hidden;
  @include screen-up {
    margin-bottom: $footer-height;
  }
}

@-webkit-keyframes imgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes imgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes imgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

@-webkit-keyframes blockAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes blockAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes blockAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}