@import "./reset.scss";

@import "./variable";
@import "./support";
@import "./buttons";

* {
  box-sizing: border-box;
  font-family: "Noto Sans CJK TC", "Noto Serif TC", sans-serif;
}

.container-fluid {
  width: 100vw;
  position: relative;
  margin-top: $nav-height;
  margin-bottom: $footer-m-height;
  overflow: hidden;
  @include screen-up {
    margin-bottom: $footer-height;
  }
}

// section[class^="section"] {
//   @include content-padding(2.5vh);
// }
